<a href="https://colab.research.google.com/github/navinavin33/Practical-Discrete-Mathematics/blob/master/Chapter%2001%20-%20Introduction/Chapter1(Neil).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 1 - Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions

This notebook contains code accompanying Chapter 1 Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions in *Practical Discrete Mathematics* by Ryan T. White and Archana Tikayat Ray

## Functions and Relations

### The `sort()` function

In [1]:
numbers = [3, 1, 4, 12, 8, 5, 2, 9]
names = ['Wyatt', 'Brandon', 'Kumar', 'Eugene', 'Elise']

# Apply the sort() function to the lists
numbers.sort()
names.sort()

# Display the output
print(numbers)
print(names)

[1, 2, 3, 4, 5, 8, 9, 12]
['Brandon', 'Elise', 'Eugene', 'Kumar', 'Wyatt']

### The `shuffle()` function

In [2]:
import random

# Set a random seed so the code is reproducible
random.seed(1)

# Run the random.shuffle() function 5 times and display the outputs
for i in range(0,5):
    numbers = [3, 1, 4, 12, 8, 5, 2, 9]
    random.shuffle(numbers)
    print(numbers)

[12, 2, 1, 5, 9, 3, 8, 4]
[4, 2, 8, 3, 1, 12, 5, 9]
[4, 5, 1, 9, 3, 8, 12, 2]
[9, 12, 2, 8, 5, 3, 4, 1]
[9, 8, 4, 3, 12, 1, 5, 2]

In [6]:
import random

# Generate two sets of random numbers
set1 = set(random.sample(range(1, 100), 10))
set2 = set(random.sample(range(1, 100), 10))

# Find the common numbers in the two sets
common_numbers = set1.intersection(set2)

print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Common numbers: {common_numbers}")

Set 1: {64, 65, 37, 5, 39, 76, 51, 86, 55, 25}
Set 2: {32, 96, 71, 47, 52, 23, 54, 86, 90, 62}
Common numbers: {86}

In [3]:
import random

# Name to shuffle
name = "NAVIN"

# Convert the name to a list of characters
name_list = list(name)

# Shuffle the list of characters
random.shuffle(name_list)

# Convert the list back to a string
shuffled_name = ''.join(name_list)

print(f"Shuffled name: {shuffled_name}")

Shuffled name: ANVNI

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)"

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the first table in the page
table = soup.find('table', {'class': 'wikitable'})

# Read the table into a pandas DataFrame
df = pd.read_html(str(table))

# Display the DataFrame
print(df)

[                               Country  Population (1 July 2022)  \
0                                World                8021407192
1                                India                1425423212
2                             China[a]                1425179569
3                        United States                 341534046
4                            Indonesia                 278830529
..                                 ...                       ...
233        Montserrat (United Kingdom)                      4453
234  Falkland Islands (United Kingdom)                      3490
235              Tokelau (New Zealand)                      2290
236                 Niue (New Zealand)                      1821
237                    Vatican City[x]                       505

     Population (1 July 2023)  Change UN Continental Region[1]  \
0                  8091734930  +0.88%                      NaN
1                  1438069596  +0.89%                     Asia
2                  1422584933  −0.18%                     Asia
3                   343477335  +0.57%                 Americas
4                   281190067  +0.85%                     Asia
..                        ...     ...                      ...
233                      4420  −0.74%                 Americas
234                      3477  −0.37%                 Americas
235                      2397  +4.67%                  Oceania
236                      1817  −0.22%                  Oceania
237                       496  −1.78%                   Europe

    UN Statistical Subregion[1]
0                           NaN
1                 Southern Asia
2                  Eastern Asia
3              Northern America
4            South-eastern Asia
..                          ...
233                   Caribbean
234               South America
235                   Polynesia
236                   Polynesia
237             Southern Europe

[238 rows x 6 columns]]

<ipython-input-4-de3ce58504b0>:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))

Set 1: {96, 64, 35, 12, 16, 85, 54, 55, 58, 95}
Set 2: {90, 70, 72, 74, 13, 78, 81, 51, 25, 58}
The common number in both sets is 58.